<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find gobot_move)/urdf/hokuyo.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="False"/>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" >
    <param name="frame_id" value="base_laser" />
  </node>

  <node pkg="wheel" type="MD49.py" name="wheel" />
  <node pkg="sonar" type="sonar_distance.py" name="sonar" />
  <node pkg="gobot_move" type="sonar_range.py" name="sonar_range" />

  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0 0 0 0 /base_link /base_laser 50 "/>
<!--
  <node pkg="tf" type="static_transform_publisher" name="sonar1_to_base_link" args="-0.2 0.1 0 0 3.14 0 /base_link /sonar_one_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar2_to_base_link" args="0.1 -0.2 0 0 0 0 /base_link /sonar_two_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar3_to_base_link" args="-0.2 -0.1 0 0 3.14 0 /base_link /sonar_three_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar4_to_base_link" args="0.1 0.2 0 0 0 0 /base_link /sonar_four_range 50 "/>
-->
<!---
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="publish_frequency" type="double" value="20.0" />
  </node>
-->
<!--
  <node pkg="IR" type="IR_listener.py" name="Rear" output="screen">
    <param name="ainNb" value="6"/>
    <param name="side" value="rear"/>
  </node>
  <node pkg="gobot_move" type="ir_range.py" name="ir_range" />
-->
<!--
  <node pkg="gobot_move" type="odom.py" name="publish_odom" />
-->
</launch>
