<?xml version="1.0"?>
<launch>
		<param name="map_id_file" type="string" value="$(find gobot_software)/Robot_Infos/mapId.txt" />
		<param name="map_image_used" type="string" value="$(find gobot_move)/maps/used_map.pgm" />
		<param name="last_known_position_file" type="string" value="$(find gobot_software)/Robot_Infos/lastKnownPosition.txt" />
		<param name="path_file" type="string" value="$(find gobot_software)/Robot_Infos/path.txt" />
		<param name="home_file" type="string" value="$(find gobot_software)/Robot_Infos/home.txt" />
		<param name="path_stage_file" type="string" value="$(find gobot_software)/Robot_Infos/path_stage.txt" />
		<param name="robot_name_file" type="string" value="$(find gobot_software)/Robot_Infos/name.txt" />
		<param name="laser_file" type="string" value="$(find gobot_software)/Robot_Infos/laser.txt" />
		<param name="battery_file" type="string" value="$(find gobot_software)/Robot_Infos/battery.txt" />
		<param name="server_file" type="string" value="$(find gobot_software)/Robot_Infos/IP/serverIP.txt" />
		<param name="ping_file" type="string" value="$(find gobot_software)/Robot_Infos/IP/ping.sh" />
		<param name="ips_file" type="string" value="$(find gobot_software)/Robot_Infos/IP/serverIP.sh" />

		<node pkg="gobot_software" type="battery.py" name="battery" output="screen" required="true"/>
		<node pkg="robot_pose_publisher" type="robot_pose_publisher" name ="robot_pose_publisher" required="true"/>
		<node pkg="gobot_software" type="map_transfer" name ="map_transfer" output="screen" required="true"/>
		<node pkg="gobot_software" type="robot_pos_transfer" name ="robot_pos_transfer" output="screen" required="true"/>
		<!--<node pkg="gobot_software" type="map_metadata_transfer" name ="map_metadata_transfer" output="screen" required="true"/>-->
		<node pkg="gobot_software" type="read_new_map" name ="read_new_map" output="screen" required="true"/>
		<node pkg="gobot_software" type="teleop" name ="teleop" output="screen" required="true"/>
		<node pkg="gobot_software" type="play_path" name="play_path" output="screen" required="true"/>
		<node pkg="gobot_software" type="command_system" name ="command_system" output="screen" required="true"/>-
		<node pkg="gobot_software" type="ping_server.py" name="ping_server" output="screen" required="true"/>
		<node pkg="gobot_software" type="send_laser_data" name="send_laser_data" output="screen" required="true"/>
		<!--<node pkg="gobot_software" type="isLocalized_optimized" name="isLocalized_optimized" output="screen" required="true"/>-->
		<node pkg="gobot_software" type="recover_position" name="recover_position" output="screen" required="true"/> 
		<!--<node pkg="gobot_software" type="particle_cloud" name="particle_cloud" output="screen" required="true"/> -->
</launch>
