<?xml version="1.0"?>
<launch>
	<node pkg="robot_pose_publisher" type="robot_pose_publisher" name ="robot_pose_publisher" required="true"/>
	<node pkg="gobot_software" type="map_transfer" name ="map_transfer" output="screen" required="true"/>
	<node pkg="gobot_software" type="robot_pos_transfer" name ="robot_pos_transfer" output="screen" required="true"/>
	<node pkg="gobot_software" type="map_metadata_transfer" name ="map_metadata_transfer" output="screen" required="true"/>
    <node pkg="gobot_software" type="read_new_map" name ="read_new_map" output="screen" required="true"/>
	<node pkg="gobot_software" type="command_system" name ="command_system" output="screen" required="true"/>
	<node pkg="gobot_software" type="ping_server.py" name="ping_server" output="screen" required="true"/>
</launch>
