<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find gobot_move)/urdf/hokuyo.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="False"/>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" >
    <param name="frame_id" value="base_laser" />
    <param name="min_ang" value="-1.5707963265" />
    <param name="max_ang" value="1.5707963265" />
  </node>

  <node pkg="wheel" type="MD49.py" name="wheel" />
<!--
  <node pkg="sonar" type="sonar_distance.py" name="sonar" />
  <node pkg="gobot_move" type="sonar_range.py" name="sonar_range" />
-->
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0 0 0 0 /base_link /base_laser 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar1_to_base_link" args="-0.2 0.1 0 0 3.14 0 /base_link /sonar_two_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar2_to_base_link" args="0.1 -0.2 0 0 0 0 /base_link /sonar_one_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar3_to_base_link" args="-0.2 -0.1 0 0 3.14 0 /base_link /sonar_four_range 50 "/>
  <node pkg="tf" type="static_transform_publisher" name="sonar4_to_base_link" args="0.1 0.2 0 0 0 0 /base_link /sonar_three_range 50 "/>

  <node pkg="gobot_move" type="odom.py" name="publish_odom" />
  <node pkg="gobot_move" type="twist.py" name="control_whell" />
</launch>
