<?xml version="1.0"?>
<launch>
    <include file="$(find gobot_software)/launch/robot_infos_params.launch"/>
    <include file="$(find gobot_move)/launch/mapbase.launch.xml"/>
	<include file="$(find gobot_move)/launch/nav_amcl.launch.xml"/>
    <include file="$(find gobot_move)/launch/make_move_base.launch.xml"/>
    <node pkg="gobot_move" type="initialPosePublisher" name="initialPosePublisher" output="screen" respawn="false"/>
</launch>
